{% extends 'base.html.twig' %}

{% block body %}
    
    <h2> <strong>A</strong>pplication de <strong>G</strong>estion <strong>C</strong>ommerciale </h2>
        <p>Bienvenue dans l'application de gestion commerciale de Couleurs de Fête
            
        {% if(app.user == false) %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Connectez vous !</a>
        {% else %}
            <br/>
            <br/>
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-primary">Changer mot de passe</a></p>
        
            <h2>Mises à jour de l'application</h2>

            <h4><strong>Le 02/12/17 :</strong></h4>
            <ul>
                <li> Gros ménage
                    <ul>
                        <li> Simplification de la page Commande</li>
                        <li> Plus de départ & retour d'article loués, ceci sera fait automatiquement :</li>
                        <ul>
                            <li>au paiment de la commande les articles & lots d'articles sont retirés du stock</li>
                            <li>a la suppression ou a l'archivage de la commande les articles & lots d'articles sont remis dans le stock</li>
                        </ul>
                        <li> La réservation des articles et lots d'articles d'une commande sera faite lorsque la commande sera payée</li>
                        <li> La suppression des réservations d'une commande sera faite lorsque la commande sera archivée ou supprimée</li>
                    </ul>
                </li>

            </ul>


        {% endif %}
        
        
        
        
{% endblock %}
