{% extends 'baseVitrine.html.twig' %}

{% block title %}{{titre}}{% endblock %}
    
{% block body %}
    
            <div class='center'>
                <h3>Couleurs de fête</h3>
                <h3>Décoratrice dans l'événementiel, pour une salle de cérémonie ou un évènement...</h3>
                <h3>Mon métier c'est d'aider à créer les conditions du bonheur, en créant un espace de vie qui soit en phase avec les Rêves de mes clients.</h3>
            </div>

            <div class ="center jumbotron">

                <h3>Couleurs de fête médaillé d'argent par <strong>Mariage.net</strong></h3><br/>

                <a href="https://www.mariages.net/"><img src="images/badge.jpg" style="width:200px; height:200px;"/></a>
                <a href="https://www.mariages.net/"><img src="images/badge2.jpg" style="width:200px; height:200px;"/></a>

            </div>

            <div class='images'>
                <div class='image'>
                    <img src='{{asset('images/Accueil.jpg')}}' class='img-index'/>
                </div>
            </div>
        
{% endblock %}
