{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <br/>
    <div>
        <input type="submit"  class="btn btn-primary col-sm-12" value="{{ 'change_password.submit'|trans }}" />
        <br/>
    </div>
{{ form_end(form) }}
