<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Relance paiement</title>
    </head>
    <body>
        <img src="{{ image }}" width="160" height="100" alt="caré" /><br/>
        
        <p><em>Décoratrice évènementiel</em></p>
        <p>
            6 rue du 7éme Bataillon<br/>
            14970 BENOUVILLE<br/>
            Téléphone: 06 89 47 02 19<br/>
            www.couleursdefete.fr<br/>
        </p>
        
        <h5>Cher(e) client (e),</h5>

        <p>Vous m’avez réservé du matériel de décoration pour votre mariage qui a lieu à présent dans moins d’1 mois, je vous remercie de votre confiance.</p>
        
        <p>Toutefois, je vous rappelle que <strong>le solde doit être réglé au moins 30 jours avant l’évènement.</strong></p>

        <p>(cf article 4 des conditions générales du contrat de location).</p>

        <p>Comptant sur votre compréhension, je vous remercie de bien vouloir m’adresser le solde par retour de courrier.</p>

        <p>Je vous rappelle également qu’<strong>un chèque de caution (non encaissé) vous sera demandé lors de l’enlèvement des articles.</strong></p>

        <p>Bien cordialement.</p>

        <p>Christine LELONG</p>
            
    </body>
</html>