{% extends 'base.html.twig' %}

{% block body %}
    <div class="corp-connexion">
        <h1> Connexion </h1>
        <hr/>
        {% if error %}
            <div class="alert alert-danger">
                {{error.message}}
            </div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post" class="connexion rows">
                <label class="col-sm-12" for="username" >Login :</label>
                <input class="col-sm-12" type="text" id="username" name="_username" value="{{ last_username }}"/>

                <br/>

                <label class="col-sm-12" for="password">Mot de passe :</label>
                <input class="col-sm-12" type="password" id="password" name="_password" value="{{ last_username }}"/>

                <br/>
                <button class="btn btn-primary col-sm-12"> Se connecter </button>

        </form>
    </div>

        
{% endblock %}
